name: CI Demo

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v3

    - name: Ejecutar script de prueba
      run: echo "✅ Pipeline ejecutado correctamente con GitHub Actions"
